ul, li	{ margin: 0; padding: 0; list-style: none; }

section#previews ul.thumbnail li	{ display: inline-block; vertical-align: middle; text-align: center; }
section#previews ul.thumbnail li:hover	{ background-color: #DDD; }
section#previews ul.thumbnail li span.thumbnailImage	{ display: block; padding: 0.5em; }
section#previews ul.thumbnail li span.thumbnailImage img	{ vertical-align: middle; cursor: pointer; }

section#samples	{ max-width: 100%; }
section#samples img	{ display: block; border: 8px solid gray; max-width: 100%; min-width: 300px; min-height: 300px; cursor: pointer; }

@media (min-width: 1025px) {
	html, body	{ margin: 0; padding: 0; height: 100%; }
	h1	{ position: fixed; }
	section#previews	{ display: inline-block; width: 350px; height: 100%; overflow: auto; }
	section#previews h2	{ visibility: hidden; }
	section#previews ul.thumbnail li	{ width: 100%; }

	section#samples	{ display: inline-block; width: 1540px; height: 100%; overflow: auto; }
}
